@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syne:wght@400..800&display=swap');

@import "tailwindcss";

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.font-Syne {
    font-family: 'Syne';
}

.font-Lato {
    font-family: 'Lato';
}

.font-Krona {
    font-family: 'Krona One';
}

